body {
    font-family: Arial, sans-serif;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    margin: 0 auto; /* Center the button horizontally */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #4CAF50;
    text-decoration: underline;
  }
  
  .centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust this if needed */
  }